{{> head}}


    {{> navbar}}
    
    <div class="row">
        <div class="col-8">
            <h1>Hola cara de bola</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa perferendis aliquid autem porro reiciendis suscipit, dolore impedit repellat quaerat a quis, beatae, nam adipisci ratione! Eos odit quasi amet quae.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/celiaBelen.jpeg" class="img-thumbnail" alt="Pilas">
        </div>
    </div>
   {{> footer}}